<h1>Hi {{subscriber.email}}</h1>

<p>
    You are receiving this email because you have subscribed to {{newsletter.subject}}.
</p>

<p>
    Netenders.
</p>

You can unsubscribe from this newsletter by <a href="{{unsubscribe}}">clicking here</a>.
